@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');
@import url('https://use.typekit.net/qgr5ebd.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
}

#root {
  height: 100%;
  width: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 208 80% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 208 80% 52%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 233 11% 14%;
    --foreground: 225 3% 76%;
    --card: 234 13% 15%;
    --card-foreground: 225 3% 76%;
    --popover: 235 12% 20%;
    --popover-foreground: 210 20% 98%;
    --primary: 208 80% 52%;
    --primary-foreground: 206 100% 82%;
    --secondary: 235 12% 19%;
    --secondary-foreground: 210 20% 98%;
    --muted: 235 12% 19%;
    --muted-foreground: 220 3% 58%;
    --accent: 235 10% 25%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 65% 48%;
    --destructive-foreground: 210 20% 98%;
    --border: 235 11% 22%;
    --input: 235 12% 20%;
    --ring: 208 80% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
